

.carrinho{
  margin: auto;
  position: fixed;
  top:0px;
  padding: 0% 1%;
  left: 68%;
  width: 30%;
  background-color: #585b5c;
  height:100%;
  transform: translateX(100%);
  transition: all 0.5s;
  z-index: 2;
  
 
}

 


.sectionTop{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

.sectionTop p{
  width: 100%;
}

.sectionTop i{
  transform: scale(1.3);
  cursor: pointer;
  color: white;
}


.containerCarrinho{
  height: 80%;
  overflow: auto;
}

.containerCarrinho::-webkit-scrollbar{
  width:0px ;
 }



.qntPro{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.buttonFechaCars{
  display: flex;
  justify-content: flex-end;
}
.laches{
  margin: auto;
  margin-top:10px ;
  align-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  border: 1px solid #6e7274;
 width: 90%;
 padding: 10px;
  
}

.inforLaches{
  display: block;
  width: 200px;
  height: 50px;
 
}

.imgLaches{
  width:100px;
}

.nomeLaches{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10pt;
  padding: 3px 0px;
  color: white;
}

.valorLaches{
  font-size:10pt;
  padding: 3px 0px;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color:orange;
}

.qntLanches{
  outline: none;
 max-width: 30px;
 padding:3px;
 border: none;
 border: 1px solid white;
 background-color: #585b5c;
 color: white;
}

.buttonExcluir{
  width: 30px;
  height: 30px;
  border: none;
  background-color:#6e7274;
  border-radius: 3px;
  cursor: pointer;

  
}

.buttonExcluir i{
  color:white;
  transform: scale(1.3);
  transition: all 0.5s;
}

.buttonExcluir i:hover{
  color: orange;
}


.containerValorTotal{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:20%;
  margin-bottom: 0%;
  background-color: #585b5c;
  border-top: #6e7274 1px solid;
}

.valorTotal{
  width: 100%;
  display: flex;
  padding: 5px 0px;
  font-family: 'Josefin Sans', sans-serif;
}

.nomeTotal{
  color:#babcbd ;
  font-weight: 700;
}

.total{
  color: white;
  letter-spacing: 2px;
  padding: 0px 3px;
}

.buttonPedido{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 80%;
  height:35px ;
  border: none;
  background-color: orange;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 3px;
  transition: all 0.5s;
  color: black;
  
}

.buttonPedido:hover{
  background-color: rgb(223, 145, 1);
}

@media screen and (max-width: 950px){
  .carrinho{
    left:48% ;
    width: 50%;
  }



}

@media screen and (max-width: 600px){
  .carrinho{
    width: 98%;
    left: 0%;
  }
}

