@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap'); 
 *{
    margin: 0;
    padding: 0;
 }

 body{
   background-color:#303234;
 }

 html{
   scroll-behavior: smooth;

 }

 body::-webkit-scrollbar{
   background-color: #303234;
   width:3px ;
 }

 body::-webkit-scrollbar-thumb{
   background-color: orange;
 }

 .menuTop{
   position: fixed;
   top: 0;
   width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;

    background-color: #303234;
    gap: 10px;
    padding:  10px 0px;
    z-index: 1;
 }

 .divLogo{
   display: flex;
   justify-content:flex-start;
   align-items: center;
   width:95%;
   color:rgb(255, 204, 0);
   font-size: 16pt;
   font-family: 'Tangerine', cursive;
   padding: 0px 20px;
   
 }

 .itemsTop{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
   
    
 }

 .itemsTop a{
   text-decoration: none;
   color: white;
   font-family: 'Dosis', sans-serif;
   letter-spacing: 1px;
   transition: all 0.5s;
  
 }

 .itemsTop a:hover{
   color: orange;
 }

 .iconesTop{
   list-style: none;
   display: flex;
   justify-content: flex-end;
   gap: 30px;
   padding: 0px 20px ;
   width: 95%;
   
  
}

.iconesTop li{
   padding: 5px;
}


.iconesTop i{
   cursor: pointer;
   color: white;
   transition: all 0.5s;
 
}

.buttonMenu{
   transform: scale(1.5);
}

.iconesTop i:hover{
   color:orange ;
}

.buttonCars{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   background-color: #575b5e;
 box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.462);
  transform: scale(0.9);
}

.contCars{
   position: absolute;
   background-color:orange;
   color: white;
   font-size: 8pt;
   width: 15px;
   height: 15px;
   border-radius:50% ;
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translateY(-10px) translateX(-15px);
}



header{
   width: 100%;
   height:100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 50px;
   background-color: #303234;
   background-image: url("../img/fundo\ header.png");
   background-size: cover;
   background-position: 50% 50%;

}

.redes{
 background-color: #303234;
  border-radius: 20px;
  padding: 5px 20px;
  margin:0px 15px;
}

.redes a{
   display: block;
   margin: 30px 0px;
   text-decoration: none;
   color: white;
   transform: scale(1.3);
   transition: all 0.3s;
}

.redes a:hover{
   color: orange;
   transform: scale(1.5);
}

.contHeader{
   margin: auto;
   width: 70%;
}

.contHeader p{
   line-height: 60px;
   font-size: 27pt;
   width:50% ;
   margin-bottom: 20px;
   font-family: 'Handlee', cursive;
   color: white;
}

.contHeader a{
   border:none;
   padding: 10px 25px;
   cursor: pointer;
   border-radius: 20px;
   font-size: 10pt;
   color: white;
   background-color: orange;
   letter-spacing: 1px;
   font-family: 'Dosis', sans-serif;
   font-weight: 600;
   transition: all 0.5s;
   text-decoration:none ;
}

.contHeader a:hover{
   background-color:rgb(205, 133, 0);
}

.menuLateral{
   transform:translateX(-100%);
  text-align: center;
  position: fixed;
  display: none;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width:30% ;
  background-color: #414446;
  z-index: 2;
  transition: all 0.5s;
}

.menuLateral ul{
   text-align: left;
   width: 90%;
   list-style:none ;
}

.menuLateral li{
 
   margin: 30px 0px;
   padding: 10px;
   border-bottom-left-radius: 20px;
   border-top-left-radius: 20px;
 transition: all 0.5s;
 
   
}

.menuLateral li:hover{
   background-color: #303234;
}

.menuLateral img{
   width:25px;
   height: 25px;
}

.menuLateral a{

   display: flex;
   align-items: center;
   width: 100%;
   gap: 10px;
   color: white;
   text-decoration: none;
   font-family: 'Dosis', sans-serif;
   font-weight: 600;
   letter-spacing:2px ;
}



.containerLoading{
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color:white;
   z-index: 3;
}

.loading{
   width: 150px;
   height: 150px;
   background-size: cover;
   background-position: 50% 50%;
   background-image: url("../img/loading.gif");
   border-radius: 50%;
}



.galeria{
   margin: auto;
   text-align: center;
   margin-top: 100px;
   width: 90%;
}


.container-galeria{
   margin: auto;
   margin-top: 20px;
   text-align: center;
   column-count:4;
   column-gap: 10px;

}

.container-galeria img{
   width: 100%;
   border-radius: 5px;
   margin-bottom: 10px;
   transition: all 0.5s;
   cursor: pointer;
   background-position: 30% 30%;
 
}

.container-galeria img:hover{
   filter: grayscale(100%);
  
}

footer{
   text-align: center;
   padding: 20px 0px;
   margin: auto;
   margin-top: 50px;
   margin-bottom: 10px;
   width: 95%;
   height:250px ;
   border-radius: 20px;
   background-image: url("../img/fundo-footer.png");
   background-size: cover;
   background-position: 50% 50%;
}

footer hr{
   margin: auto;
   margin-top:5px;
   margin-bottom:60px ;
   width: 30%;
   height: 1px;
   border:none;
   background-color:#575b5e;
}

footer  p{
   font-family: 'Dosis', sans-serif;
   font-size: 10pt;
   letter-spacing: 1px;
   color: #81888c;
}

.redeFooter{
   text-align: center;
   margin-top: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   
}

.redeFooter a{
   background-color: #575b5e;
   width: 30px;
   height:30px ;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration:none ;
   color: white;
   border-radius: 5px;
   transition: all 0.5s;
}

.redeFooter a:hover{
   color: orange;
}







@media screen and (max-width: 950px){
   .menuLateral{
      width:50% ;
   }

   .container-galeria{
      column-count: 3;
   }

   
}

@media screen and (max-width: 600px){
  

   .divLogo{
      font-size: 14pt;
   }

   .itemsTop{
      display: none;
   }

   .menuLateral{
      width:70% ;
   }

   header{
      display:block;
      height:90vh ;
      background-image: url("../img/fundo-header-mob.png");
   }

   .contHeader{
      
      width: 95%;
   }

   .contHeader p{
      display: flex;
      align-items: center;
      margin-top: 60px;
      font-size: 20pt;
      width: 70%;
      height: 50vh;
      line-height: 40px;
   }

   .redes{
      margin: auto;
      margin-top: 50px;
      text-align: center;
      padding: 0px 0px;
      background-color: transparent;
     
   }

   .redes a{
      display: inline-block;
      margin: 0px 20px;
  
   }

   .container-galeria{
      column-count: 2;
   }
    

   footer{
      background-image: url("../img/fundo-footer-mob.png");
   }

}